{% extends 'baseAdmin.html' %}
{% load static %}

{% block content %}

{{ error }}

<div class = "container py-5 vh-100">
  <div class = "row d-flex justify-content-left">
    <div class = "col-1 col-sm-auto">
      <img src = "{% static 'images/teacherIcon.png' %}" height = 50px>
    </div>
    <div class = "col-10 col-sm-auto d-flex align-items-center">
      <h3>Clientes</h3>
    </div>
  </div>

  <!-- Filtros -->
  <form method="GET">
    <div class = "row d-flex pt-4 justify-content-center">
      <input class="col-6" name = "nameSearch" id = "nameSearch" class = "form-control form-control-lg" placeholder = "Nombre Cliente"/>
    </div>
  </form>

  <div class = "row d-flex py-4 justify-content-center">
    <table class="table table-bordered">
      <thead >
        <tr>
          <th scope="col">Nº</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Correo</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Modificar</th>
        </tr>
      </thead>
      <tbody >
          {% if clients %}
          {% for client in clients%}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{client.name}}</td>
            <td>{{client.surnames}}</td>
            <td>{{client.email}}</td>
            <td>{{client.phone}}</td>

            <td>
              <a href="{% url 'editClient' client.id %}">
                <i class='fas fa-2xl fa-edit'></i>
              </a>
              </td>
          </tr>
          {% endfor %}
          {% endif %}
      </tbody>
    </table>

  </div>
  <div style ="position: fixed; bottom: 40px; right: 40px;">
    <a class="btn text-white" style="background-color: #55acee;" role="button">  
      Añadir Cliente
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>

<div class = "container py-3 border border-primary border-3 rounded" style= "border-color: #55acee;">
  <div class = "row">
    <div class = "col ps-5" >
      <img src = "{% static 'images/teacherIcon.png' %}" height = 50px>
    </div>
    <div class = "col-4 d-flex align-items-center justify-content-center">
      <a role="button">  
        <h3>Perfil Cliente</h3>
      </a>
    </div>
    <div class = "col d-flex align-items-center justify-content-end px-5 ">
      <a role="button">  
        <i class="fa fa-2xl fa-times"></i>
      </a>
    </div>
  </div>
  <hr> <!-- Linea divisioria-->
  <!-- Empieza el formulario -->
  <form method = "POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Bloque 1 -->
    <div class = "row d-flex py-2 justify-content-center">
      Perfil Cliente
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Nombre
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input name = "name" id = "name" class = "form-control form-control-lg" placeholder = "Paco" required/>
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Apellidos
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input name = "surnames" id = "surnames" class = "form-control form-control-lg" placeholder = "Pérez Rordriguez" required/>
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Teléfono
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="tel" id="phone" name="phone" placeholder="612345678" pattern="[0-9]{9}" required >
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Correo
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="email" name="email" id="email" placeholder="correo@gmail.com" required >
      </div>
    </div>
    
    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Dirección
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="text" name="address" id="address" placeholder="Calle X, Portal Y Piso Z Puerta W"> <!--required -->
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        DNI
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="text" name="nid" id="nid"  placeholder= "01234567A"><!--required -->
      </div>
    </div>

    <hr> 

    <div class = "row d-flex py-2 justify-content-center">
      Contacto
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Contrato
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="file" name="contract" accept="application/pdf">
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Observaciones
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <textarea  name = "descr"></textarea><!---->
      </div>
    </div>

    <hr>

    <div class = "row d-flex py-2 justify-content-center">
      General
    </div>

    
    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Origen
      </div>
      <div class = "col-3 col-sm-auto ps-5" >
        <select name=category class="form-select" aria-label="Default select example">
          <option value="Potencial">Potencial</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Observaciones Cliente
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input id = "ObsCliente" name = "ObsCliente" class = "form-control form-control-lg" placeholder = "Obs Cliente"/>
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Fecha de Entrada
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="date" id="enterDate" name="enterDate" class = "form-control form-control-lg">
      </div>
    </div>
    
    <hr>
    
    <div class = "row d-flex py-2 justify-content-center">
      Alumno
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Nombre
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input id = "ObsCliente" name = "ObsCliente" class = "form-control form-control-lg" placeholder = "Obs Cliente"/>
      </div>
    </div>
    <div class = "row d-flex py-5 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5 " >
        <button type="submit" class="btn btn-lg" style="background-color: #00C4BA">
          Guardar
          <img class= "ps-1" src = "{% static 'images/save.png' %}" height = 20px>
        </button>
      </div>
      <!--<div class = "col-3 col-sm-auto ps-5 " >
        <button type="button" class="btn btn-lg" style="background-color: #00C4BA">
          Descargar
          <img class= "ps-1" src = "{% static 'images/download.png' %}" height = 20px>
        </button>
      </div>
      -->
    </div>
  </form>
</div>

<script>
  var loadFile = function(event) {
      var image = document.getElementById('output');
      image.src=URL.createObjectURL(event.target.files[0]);
  };
  document.getElementById('enterDate').valueAsDate = new Date();

</script>
{% endblock content %}