{% extends 'baseAdmin.html' %}
{% block title %}Mentor Aula Virtual{% endblock %}

{% block content %}
{% load static %}
<div class="container py-5 vh-100">
  <div class="row d-flex justify-content-left">
    <div class="col-1 col-sm-auto">
        <img src = "{% static 'images/favicon.ico' %}" height = 50px>
    </div>
    <div class="col-10 col-sm-auto d-flex align-items-center">
      <h3>Clientes</h3>
    </div>
  </div>

  <div class="row d-flex py-4 justify-content-center">
    <h3>ListaClientes</h3>
  </div>
</div>
{% endblock content %}