{% extends 'baseAdmin.html' %}
{% load static %}

{% block content %}

{{ error }}

<div class = "container py-5 vh-100">
  <div class = "row d-flex justify-content-left">
    <div class = "col-1 col-sm-auto">
      <img src = "{% static 'images/teacherIcon.png' %}" height = 50px>
    </div>
    <div class = "col-10 col-sm-auto d-flex align-items-center">
      <h3>Profesores</h3>
    </div>
  </div>

  <!-- Filtros -->
  <form method="GET">
    <div class = "row d-flex pt-4 justify-content-center">
      <input class="col-6" name = "nameSearch" id = "nameSearch" class = "form-control form-control-lg" placeholder = "Nombre Profesor"/>
      <input class="col-6" name = "subjSearch" id = "subjSearch" class = "form-control form-control-lg" placeholder = "Asignatura"/>
    </div>
    <div class = "row d-flex justify-content-center">
      <input class="col-6" name = "courseSearch" id = "courseSearch" class = "form-control form-control-lg" placeholder = "Curso"/>
      <input class="col-6" name = "timeSearch" id = "timeSearch" class = "form-control form-control-lg" placeholder = "Horario"/>
    </div> 
    <div class = "row d-flex justify-content-center">
      <input class="col-6" name = "studSearch" id = "studSearch" class = "form-control form-control-lg" placeholder = "Nombre Alumno"/>
    </div> 

    <input type="submit" value="Buscar" class="btn btn-primary"/>
  </form>

  <div class = "row d-flex py-4 justify-content-center">
    <table class="table table-bordered">
      <thead >
        <tr>
          <th scope="col">Nº</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Correo</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Asignaturas</th>
          <th scope="col">Modificar</th>
        </tr>
      </thead>
      <tbody >
          {% if teachers %}
          {% for teacher in teachers%}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{teacher.name}}</td>
            <td>{{teacher.surnames}}</td>
            <td>{{teacher.email}}</td>
            <td>{{teacher.phone}}</td>
            <td>{{teacher.subjects}}</td>
            <td>
              <a href="{% url 'editTeacher' teacher.id %}">
                <i class='fas fa-2xl fa-edit'></i>
              </a>
              </td>
          </tr>
          {% endfor %}
          {% endif %}
      </tbody>
    </table>

  </div>
  <div style ="position: fixed; bottom: 40px; right: 40px;">
    <a class="btn text-white" style="background-color: #55acee;" role="button">  
      Añadir Profesor
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>

<div class = "container py-3 border border-primary border-3 rounded" style= "border-color: #55acee;">
  <div class = "row">
    <div class = "col ps-5" >
      <img src = "{% static 'images/teacherIcon.png' %}" height = 50px>
    </div>
    <div class = "col-4 d-flex align-items-center justify-content-center">
      <a role="button">  
        <h3>Perfil Cliente</h3>
      </a>
    </div>
    <div class = "col-4 d-flex align-items-center justify-content-center">
      <a role="button">  
        <h3>Profesor</h3>
      </a> 
    </div>
    <div class = "col d-flex align-items-center justify-content-end px-5 ">
      <a role="button">  
        <i class="fa fa-2xl fa-times"></i>
      </a>
    </div>
  </div>
  <hr> <!-- Linea divisioria-->
  <!-- Empieza el formulario -->
  <form method = "POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Bloque 1 -->
    <div class = "row d-flex py-2 justify-content-center">
      Etiqueta
    </div>

    <!--<div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Categoría
      </div>
      <div class = "col-3 col-sm-auto ps-5" >
        <select name=category class="form-select" aria-label="Default select example">
          <option value="Potencial">Potencial</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>-->

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Administrador
      </div>
      <div class = "col-3 col-sm-auto ps-5" >
        <select name="admin" class="form-select" aria-label="Default select example">
          {% if staff %}
          {% for admin in staff %}
            <option value={{admin.id}}>{{admin.username}}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <hr>

    <div class = "row d-flex py-2 justify-content-center">
      Perfil Registro
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Nombre profesor
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input name = "name" id = "name" class = "form-control form-control-lg" placeholder = "Paco" required/>
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Apellidos profesor
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input name = "surnames" id = "surnames" class = "form-control form-control-lg" placeholder = "Pérez Rordriguez" required/>
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Teléfono profesor
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="tel" id="phone" name="phone" placeholder="612345678" pattern="[0-9]{9}" required >
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Correo
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="email" name="email" id="email" placeholder="correo@gmail.com" required >
      </div>
    </div>
    
    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Año de nacimiento
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="number" name="yearBirth" id="yearBirth"  placeholder ="1999"><!--required -->
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        DNI
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="text" name="nid" id="nid"  placeholder= "01234567A"><!--required -->
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Dirección
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="text" name="address" id="address" placeholder="Calle X, Portal Y Piso Z Puerta W"> <!--required -->
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      Perfil
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Foto de Perfil
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="file" name="profilePic" accept="image/*" onchange="loadFile(event)">
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Contrato
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="file" name="contract" accept="application/pdf">
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Descripción
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <textarea  name = "descr"></textarea><!---->
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Foto de Perfil
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <img id="output" width="200"/>
      </div>
    </div>
    <!-- Bloque 2 -->
        
    <div class = "row d-flex py-2 justify-content-center">
      Perfil Profesor
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Estudios
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input id = "studies" name = "studies" class = "form-control form-control-lg" placeholder = "Estudios"/>
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Asignaturas
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <strong>Elige asignaturas:</strong>
        <select class="form-select" multiple aria-label="multiple select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Especialidad
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <textarea name = "notes"></textarea>
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Experiencia docente
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="text" name="xpYears" id="xpYears"> <!--required  -->
      </div>
    </div>

    <div class = "row d-flex py-2 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5" >
        Objetivo de horas semanales
      </div>
      <div class = "col-3 col-sm-auto ps-5 " >
        <input type="number" name="estHours" id="estHours"> <!--required  -->
      </div>
    </div>

    <div class = "row d-flex py-5 justify-content-center">
      <div class = "col-3 col-sm-auto ps-5 " >
        <button type="submit" class="btn btn-lg" style="background-color: #00C4BA">
          Guardar
          <img class= "ps-1" src = "{% static 'images/save.png' %}" height = 20px>
        </button>
      </div>
      <!--<div class = "col-3 col-sm-auto ps-5 " >
        <button type="button" class="btn btn-lg" style="background-color: #00C4BA">
          Descargar
          <img class= "ps-1" src = "{% static 'images/download.png' %}" height = 20px>
        </button>
      </div>
      -->
    </div>
  </form>
</div>

<script>
  var loadFile = function(event) {
      var image = document.getElementById('output');
      image.src=URL.createObjectURL(event.target.files[0]);
  };
</script>
{% endblock content %}