<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <title>{% block title %}My Site{% endblock %}</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'global.css' %}">

</head>

<body>
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Iniciar sesión</h3>

              <h2>
                {{ error }}
              </h2>

              <form method="POST">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input name="username" id="typeEmailX-2" class="form-control form-control-lg" placeholder="correo electrónico"/>
                </div>
    
                <div class="form-outline mb-4">
                  <input name="password" type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="contraseña"/>
                </div>
    
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-start mb-4">
                  <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                  <label class="form-check-label" for="form1Example3"> Recordar Contraseña </label>
                </div>
    
                <button class="btn btn-primary justify-content-start mb-4" type="submit" style="background-color: #00C4BA; border-color: #00C4BA">Iniciar Sesión</button>
              </form>
              
              <div class="form-check d-flex justify-content-start mb-4">
                <a href="https://mentorclasesparticulares.com/" class="form-check-label" for="form1Example3"> ¿No tienes cuenta? Contacta con nosotros</a>
              </div>

              <div class="form-check d-flex justify-content-start mb-4">
                <label class="form-check-label" for="form1Example3"> ¿Has olvidado tu contraseña?</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>